body {
  background-color: #c8ffc8;
}

.clouds {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.clouds .cloud {
  opacity: 0;
  fill: white;
}

svg {
  width: 100px;
  height: 100px;
  fill: #1da1f2;
  margin: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#twitterBird {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

#circleBorder {
  stroke: #1da1f2;
  stroke-width: 1px;
  fill: none;
}

#icon:hover #twitterBird {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: birdAnimation;
          animation: birdAnimation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

#icon:hover .cloud {
  -webkit-animation: cloudAnimation;
          animation: cloudAnimation;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes birdAnimation {
  0% {
    -webkit-transform: rotate(0deg) translateY(0%) scale(0.7);
            transform: rotate(0deg) translateY(0%) scale(0.7);
  }
  10% {
    -webkit-transform: rotate(-30deg) translateY(15%) scale(0.7);
            transform: rotate(-30deg) translateY(15%) scale(0.7);
  }
  50% {
    -webkit-transform: rotate(-20deg) translateY(-5%) scale(0.7);
            transform: rotate(-20deg) translateY(-5%) scale(0.7);
  }
  70% {
    -webkit-transform: rotate(10deg) translateY(10%) scale(0.7);
            transform: rotate(10deg) translateY(10%) scale(0.7);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0%) scale(0.7);
            transform: rotate(0deg) translateY(0%) scale(0.7);
  }
}

@keyframes birdAnimation {
  0% {
    -webkit-transform: rotate(0deg) translateY(0%) scale(0.7);
            transform: rotate(0deg) translateY(0%) scale(0.7);
  }
  10% {
    -webkit-transform: rotate(-30deg) translateY(15%) scale(0.7);
            transform: rotate(-30deg) translateY(15%) scale(0.7);
  }
  50% {
    -webkit-transform: rotate(-20deg) translateY(-5%) scale(0.7);
            transform: rotate(-20deg) translateY(-5%) scale(0.7);
  }
  70% {
    -webkit-transform: rotate(10deg) translateY(10%) scale(0.7);
            transform: rotate(10deg) translateY(10%) scale(0.7);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0%) scale(0.7);
            transform: rotate(0deg) translateY(0%) scale(0.7);
  }
}

@-webkit-keyframes cloudAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  70% {
    opacity: 0.9;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  100% {
    opacity: 0.95;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

@keyframes cloudAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  70% {
    opacity: 0.9;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  100% {
    opacity: 0.95;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}
/*# sourceMappingURL=style.css.map */